.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #e8e8e8;
}

.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    color: white;
    background: #686898 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg li.title:hover {
    color: white;
    background: #6868C8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.boolean {
    border-left: 3px solid #fafafa
}

.dg .cr.color {
    border-left: 3px solid #fafafa
}

.dg .cr.function {
    border-left: 3px solid #fafafa
}

.dg .cr.number {
    border-left: 3px solid #fafafa
}

.dg .cr.number input[type=text] {
    border-left: 3px solid #fafafa
}

.dg .cr.string {
    border-left: 3px solid #fafafa
}

.dg .cr.string input[type=text] {
    border-left: 3px solid #fafafa
}

.dg .cr.function:hover,
.dg .cr.boolean:hover,
.dg .cr.string:hover,
.dg .cr.number:hover,
.dg .cr.string:hover,
.dg .cr.color:hover {
    background: #ffffff
}
